.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.border {
  border: 1px solid rgb(214,214,214);
  padding: 10px;
  border-radius: 5px;
}

.animal-card {
  width: 302px;
  background-color: rgba(214,214,214,0.15);
  box-shadow: 10px 10px 5px 0px rgba(214,214,214,0.65);
}

.animal-card__picture {
  width: 300px;
  padding: 0;
}

.animal-card__info {
  width: 280px;
  margin-top: 10px;
}

.animal-card__list {
  list-style: none;
  padding-left: 0;
}
